* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.NavBar {
    background-color: #00b856;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
}

.Logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.NavMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.NavLink {
    font-size: 1.2rem;
    font-weight: 500;
}

.NavLink:hover {
    color: rgb(177, 181, 188);
    transition: color 0.2s ease-in-out;
}
  
@media screen and (max-width: 780px){
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: aliceblue;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .NavMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: #00b856;
        padding: 10px;
    }

    .NavMenu.active {
        left: 0;
    }

    .NavMenu li {
        margin: 16px 0;
    }
}